<div class="row mb-3">
	<div class="col-md-8">
		<div class="form-floating">
           <input type="text" class="form-control" id="floatingEncuentro" name="enc1">
           <label for="floatingEncuentro">Nombre Encuentro</label>
        </div>
	</div>
	<div class="col-md-4">
		<div class="form-floating">
           <select class="form-select" id="floatingEstado" name="est1">
              <option value="L">Local</option>
              <option value="E">Empate</option>
              <option value="V">Visitante</option>
            </select>
            <label for="floatingEstado">Estado del partido</label>
        </div>
	</div>
</div>
<div class="row mb-3">
	<div class="col-md-8">
		<div class="form-floating">
           <input type="text" class="form-control" id="floatingEncuentro" name="enc2">
           <label for="floatingEncuentro">Nombre Encuentro</label>
        </div>
	</div>
	<div class="col-md-4">
		<div class="form-floating">
           <select class="form-select" id="floatingEstado" name="est2">
              <option value="L">Local</option>
              <option value="E">Empate</option>
              <option value="V">Visitante</option>
            </select>
            <label for="floatingEstado">Estado del partido</label>
        </div>
	</div>
</div>
<div class="row mb-3">
	<div class="col-md-8">
		<div class="form-floating">
           <input type="text" class="form-control" id="floatingEncuentro" name="enc3">
           <label for="floatingEncuentro">Nombre Encuentro</label>
        </div>
	</div>
	<div class="col-md-4">
		<div class="form-floating">
           <select class="form-select" id="floatingEstado" name="est3">
              <option value="L">Local</option>
              <option value="E">Empate</option>
              <option value="V">Visitante</option>
            </select>
            <label for="floatingEstado">Estado del partido</label>
        </div>
	</div>
</div>
<div class="row mb-3">
	<div class="col-md-8">
		<div class="form-floating">
           <input type="text" class="form-control" id="floatingEncuentro" name="enc4">
           <label for="floatingEncuentro">Nombre Encuentro</label>
        </div>
	</div>
	<div class="col-md-4">
		<div class="form-floating">
           <select class="form-select" id="floatingEstado" name="est4">
              <option value="L">Local</option>
              <option value="E">Empate</option>
              <option value="V">Visitante</option>
            </select>
            <label for="floatingEstado">Estado del partido</label>
        </div>
	</div>
</div>